@tailwind base;
@tailwind components;
@tailwind utilities;

.selectedBtn {
  @apply bg-btnCol rounded-full  outline-none border-none;
}
.section-padding {
  @apply px-4 sm:px-6 md:px-10 lg:px-14;
}
.headerText {
  @apply font-bold lg:text-6xl md:text-5xl sm:text-4xl text-3xl text-center md:text-left;
}
/* nothing changed */
